.App {
  text-align: center;
}

.dateCard{
  width: 18rem;
  display: inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: solid;
}

/* .dateCardPosition {

  
  
} */

.btn{
margin-left: 3rem;
}